<section class="bg-black-700 text-[#FFF0E3] ~pt-[2.4rem]/16 ~pb-16/48">
  <div class="container">
    <h1 class="break-words ~mb-[2.4rem]/[3.8rem] ~text-heading-two/display-one">
      ark studio a creative development agency.
    </h1>
    <p class="~mb-32/[18.4rem] ~text-heading-six/heading-five">
      I'm passionate about my work because I believe that good design can make a
      real difference in the world.
    </p>
    <div
      class="flex flex-col max-md:gap-[2.8rem] md:flex-row md:items-center md:justify-between">
      <a
        href="/contact"
        class="btn btn-md btn-outline md:btn-xl w-full gap-8 border-[#FFF0E3] text-center text-[#FFF0E3] md:w-fit"
        data-astro-prefetch>
        Lets work together
      </a>
      <div class="flex flex-row items-center gap-[1.6rem]">
        <a
          class="badge badge-lg badge-outline border-[#FFF0E3] text-[#FFF0E3]"
          href="/">
          Linkedin
        </a>
        <a
          class="badge badge-lg badge-outline border-[#FFF0E3] text-[#FFF0E3]"
          href="/">
          Instagram
        </a>
      </div>
    </div>
  </div>
</section>
