<section class="container text-center ~py-[5.6rem]/32">
  <div class="md:grid md:grid-cols-12">
    <div class="md:col-start-3 md:col-end-11 lg:col-start-4 lg:col-end-10">
      <p class="font-semibold ~mb-[.8rem]/[.4rem] ~text-body-md/body-lg">
        Projects
      </p>
      <h1 class="~mb-[.8rem]/[1.6rem] ~text-heading-five/heading-two">
        Helping brands achieve sustainable results
      </h1>
      <p class="mb-[5.1rem] text-blue-black-500 ~text-body-sm/body-lg">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered in some form, by injected humour
      </p>
    </div>
  </div>
  <ul class="mb-[5.1rem] flex flex-col gap-[7.2rem]">
    <li>
      <article class="relative">
        <a
          data-astro-prefetch
          href="/"
          class="relative block h-full w-full hover:opacity-100">
          <figure
            class="aspect-square rounded-[2.4rem] bg-blue-black-50 max-md:mb-[3.2rem] md:aspect-video">
          </figure>
          <div
            class="text-left md:absolute md:bottom-[1.6rem] md:left-[1.6rem] md:right-[1.6rem] md:flex md:flex-row md:items-center md:gap-[1.6rem] md:rounded-[2.4rem] md:bg-white md:p-[4.8rem]">
            <div class="flex flex-col gap-[1.6rem] md:flex-1">
              <p class="text-heading-six">Orbs AI Search</p>
              <ul class="flex flex-row items-center gap-[1.6rem]">
                <li>
                  <span class="badge badge-md badge-outline">
                    development
                  </span>
                </li>
                <li>
                  <span class="badge badge-md badge-outline"> ui.ux </span>
                </li>
              </ul>
            </div>
            <span
              class="hidden w-fit rounded-full border-2 border-black-700 md:block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 rotate-[-45deg]"
                viewBox="0 -960 960 960"
                ><path
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
                ></path></svg
              >
            </span>
          </div>
        </a>
      </article>
    </li>
    <li>
      <article class="relative">
        <a
          data-astro-prefetch
          href="/"
          class="relative block h-full w-full hover:opacity-100">
          <figure
            class="aspect-square rounded-[2.4rem] bg-blue-black-50 max-md:mb-[3.2rem] md:aspect-video">
          </figure>
          <div
            class="text-left md:absolute md:bottom-[1.6rem] md:left-[1.6rem] md:right-[1.6rem] md:flex md:flex-row md:items-center md:gap-[1.6rem] md:rounded-[2.4rem] md:bg-white md:p-[4.8rem]">
            <div class="flex flex-col gap-[1.6rem] md:flex-1">
              <p class="text-heading-six">Orbs AI Search</p>
              <ul class="flex flex-row items-center gap-[1.6rem]">
                <li>
                  <span class="badge badge-md badge-outline">
                    development
                  </span>
                </li>
                <li>
                  <span class="badge badge-md badge-outline"> ui.ux </span>
                </li>
              </ul>
            </div>
            <span
              class="hidden w-fit rounded-full border-2 border-black-700 md:block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 rotate-[-45deg]"
                viewBox="0 -960 960 960"
                ><path
                  d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"
                ></path></svg
              >
            </span>
          </div>
        </a>
      </article>
    </li>
  </ul>
  <a
    href="/projects"
    data-astro-prefetch
    class="btn btn-outline btn-md md:btn-lg mx-auto block text-blue-black-600 max-md:w-fit md:w-fit">
    All Projects
  </a>
</section>
