<section class="bg-orange-300 ~py-[7.2rem]/[8.8rem]">
  <div class="container">
    <div class="mx-auto md:max-w-[80%]">
      <p class="~text-body-md/lg mb-[.8rem] font-semibold">Projects</p>
      <h1 class="mb-[1.6rem] ~text-heading-five/heading-two">
        Services and skills
      </h1>
      <ul>
        <li>
          <details
            class="group flex w-full cursor-pointer flex-col border-b border-black-700 py-[1.9rem]">
            <summary class="flex w-full flex-row items-center justify-between">
              <p class="text-heading-six">UI Design</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 fill-black-700"
                viewBox="0 -960 960 960"
                ><path
                  d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
                ></path></svg
              >
            </summary>
            <p class="p-8 text-left ~text-body-lg/body-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel
              metus lorem. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Morbi quis dapibus sem.
            </p>
          </details>
        </li>
        <li>
          <details
            class="flex w-full flex-col border-b border-black-700 py-[1.9rem]">
            <summary class="flex w-full flex-row items-center justify-between">
              <p class="text-heading-six">Development</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 fill-black-700"
                viewBox="0 -960 960 960"
                ><path
                  d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
                ></path></svg
              >
            </summary>
            <p class="p-8 text-left ~text-body-lg/body-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel
              metus lorem. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Morbi quis dapibus sem.
            </p>
          </details>
        </li>
        <li>
          <details
            class="flex w-full flex-col border-b border-black-700 py-[1.9rem]">
            <summary class="flex w-full flex-row items-center justify-between">
              <p class="text-heading-six">Branding</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 fill-black-700"
                viewBox="0 -960 960 960"
                ><path
                  d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
                ></path></svg
              >
            </summary>
            <p class="p-8 text-left ~text-body-lg/body-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel
              metus lorem. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Morbi quis dapibus sem.
            </p>
          </details>
        </li>
        <li>
          <details
            class="flex w-full flex-col border-b border-black-700 py-[1.9rem]">
            <summary class="flex w-full flex-row items-center justify-between">
              <p class="text-heading-six">Animation</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 fill-black-700"
                viewBox="0 -960 960 960"
                ><path
                  d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
                ></path></svg
              >
            </summary>
            <p class="p-8 text-left ~text-body-lg/body-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel
              metus lorem. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Morbi quis dapibus sem.
            </p>
          </details>
        </li>
        <li>
          <details
            class="flex w-full flex-col border-b border-black-700 py-[1.9rem]">
            <summary class="flex w-full flex-row items-center justify-between">
              <p class="text-heading-six">Motion</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-16 w-16 fill-black-700"
                viewBox="0 -960 960 960"
                ><path
                  d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
                ></path></svg
              >
            </summary>
            <p class="p-8 text-left ~text-body-lg/body-xl">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel
              metus lorem. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Morbi quis dapibus sem.
            </p>
          </details>
        </li>
      </ul>
    </div>
  </div>
</section>
