<section class="bg-black-700">
  <div class="container ~py-[7.2rem]/[15.2rem] lg:grid lg:grid-cols-12">
    <div
      class="flex flex-col gap-[2.4rem] text-center text-white lg:col-start-3 lg:col-end-11">
      <h1 class="~text-heading-two/display-one">Let's Talk</h1>
      <p class="~text-heading-six/heading-four">
        Good design can make a real difference in the world. I love the
        challenge of taking someone's vision and turning it into a reality
      </p>
      <a
        href="/"
        class="btn btn-md md:btn-lg bg-white text-black-700 md:mx-auto md:w-fit"
        >Schedule a call</a
      >
    </div>
  </div>
</section>
