<footer class="bg-orange-300">
  <div
    class="~py-16/[10.4rem] container grid grid-rows-[auto_2.4rem_auto_4.8rem_auto] md:grid-rows-[auto_4rem_auto]">
    <a
      class="~text-heading-four/heading-one col-span-2 row-start-1 row-end-2 break-all"
      href="mailto:hello@studioark.com"
      >hello@studioark.com</a
    >
    <div
      class="row-start-3 row-end-4 flex flex-row flex-wrap items-start gap-[1.2rem]">
      <a
        href="/"
        class="badge badge-sm md:badge-md badge-outline">
        Linkedin</a
      >
      <a
        href="/"
        class="badge badge-sm md:badge-md badge-outline">
        Instagram</a
      >
    </div>
    <nav
      class="row-start-6 row-end-7 flex flex-col gap-[1.6rem] md:row-start-3 md:row-end-7 md:flex-row md:items-center md:justify-end">
      <a
        class="text-body-md font-semibold"
        href="/"
        >Home</a
      >
      <a
        class="text-body-md font-semibold"
        href="/cases"
        >Case studies</a
      >
      <a
        class="text-body-md font-semibold"
        href="/about"
        >About</a
      >
      <a
        class="text-body-md font-semibold"
        href="/contact"
        >Contact</a
      >
    </nav>
  </div>
</footer>
